.hero img{
    height: 200px;
}

.info img{
    width: 150px;
    height: 150px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

.header, .hero, .footer{
    background-color: #1F2937;
}

.header, .footer{
    flex: 0 0 auto;
}

body > div{
    padding: 0 10%;
    flex: 1;
}

ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882f6;
    color:#F9FAF8;
    width: 120px;
    padding: 8px 16px;
    border-style: none;
    border-radius: 8px;
    font-size: 18px;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header .logo{
    font-size: 24px;
    color: #F9FAF8;
}

.hero{
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
    justify-content: space-between;
    gap: 36px;
}

.hero .content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero .main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero .image{
    width: 600px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 36px;
    padding-top: 48px;
    padding-bottom: 60px;
    text-align: center;
}

.info .title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info .blocks{
    display: flex;
    justify-content: space-evenly;
    gap: 36px;
}

.info .blocks img{
    border-radius: 8px;
}

.subtext.under-img{
    color: #464646;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote .author{
    align-self: flex-end;
}